{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="section col s12">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="row">
            <div class="input-field">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</div>



{% endblock %}