{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
            <form action="{% url 'set_language' %}" method="post" class="col s12">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <div class="row">
                    <div class="input-field col s12">
                        <select name="language" id="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                        </select>
                        <label for="language">Select your language</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit">Submit
                            <i class="material-icons">send</i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
